<div class="mayo-container mayo-page">
  <div class="overlay"></div>
  <div class="content-wrapper">
    <a routerLink="/" class="back-button">&larr; Volver</a>
    
    <div class="letter-container">
      <div class="letter-content">
        <p>Dear kady,</p>
        <p>
          Hace mucho que no te escribo algo y no es porque no tenga ideas para escribirte o decirte que te amo mucho, estos días han sido muy pesados y apenas he tenido tiempo si quiera para dormir, pero me ha sobrado el tiempo para pensarte.
        </p>
        <p>
          Espero que para cuando leas esto estés mejorcita de salud y ya nos hayamos visto y dado muchos besos jajs, espero tus papás sigan llegando bien a casa y tus hermanitos no se hayan enfermado, que la mecha y los negritos estén bien, espero no hayas pasado tan estresada estos días y sobretodo espero haber sido buena pareja contigo esos días, más que un recordatorio más de que te amo mucho es para contarte de lo feliz que me hace sentirte a mi lado, el arte no está solamente en lo que haces con tus manos si no también en la persona entera que eres, estoy maravillado de todo lo que eres y adorarte se queda corto para mí, me encantas demasiado y podría morir de amor por ti, te extraño mucho.
        </p>
        <p>
          Recuerda comer tus comidas a tiempo, intentar relajarte antes de estresarte, tomar mucha agua y recuerda que siempre estaré para ti, ya no tienes porque llorar sola o pensar que no tienes quien te escuche, mientras estemos bajo la misma luna siempre estaré velando por ti.
        </p>
        <p>
          Con cariño,<br>
          Kevin
        </p>
      </div>
    </div>
  </div>
  <audio #audioPlayer loop src="assets/songs/everything.mp3"></audio>
</div>
